EXPO_PUBLIC_SOKRATECH_API_DOMAIN=http://localhost:3000
EXPO_PUBLIC_SOKRATECH_API_KEY=demo-api-key
EXPO_PUBLIC_SOKRATECH_WORKFLOW_ID=
EXPO_PUBLIC_SOKRATECH_PROFILE_ID=
EXPO_PUBLIC_SOKRATECH_INGEST_ENDPOINT=/ingest
